* {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
body {
  /* height: vh;100 */
  background: center no-repeat
    url("https://mocah.org/thumbs/998386-digital-digital-art-artwork-illustration-drawing.jpg");
  background-size: cover;
  display: grid;
  padding: 50px;
  grid-template-areas:
    "a a a a a a"
    "b b b b c c"
    "b b b b c c"
    "b b b b c c"
    "b b b b c c"
    "d d d d c c"
    "d d d d c c"
    "d d d d c c"
    "d d d d c c"
    "d d d d c c";
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 50px;
  gap: 20px;
  box-sizing: border-box;
}
#navbar {
  grid-area: a;
  display: grid;
  grid-template-columns: 94% 5%;
  justify-content: space-between;
}
#navbar input {
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}
#navbar > form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  height: fit-content;
  border-radius: 5px;
}

#navbar input:focus {
  outline: none;
  color: white;
}
#navbar button {
  height: fit-content;
}

#navbar > form > button > i {
  color: black;
}
#navbar > form > button {
  background-color: transparent;
  border: none;
  padding: 10px 12.5px;
  transition: all 0.5s;
  box-sizing: border-box;
  color: black;
}

#navbar > form > button > i {
  transition: all 0.5s;
}

#navbar input::placeholder {
  color: rgba(255, 255, 255, 0.723);
}
#navbar > form > button:hover > i {
  color: white;
  transform: scale(1.5);
}

#navbar > button {
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  box-sizing: border-box;
}
#navbar > button > i {
  transition: all 0.5s;
  color: black;
}
#navbar > button:hover > i {
  color: white;
  transform: scale(1.5);
}
#current-data {
  background-color: rgba(255, 255, 255, 0.3);
  grid-area: b;
  border-radius: 5px;
  opacity: 0;
  display: grid;
  grid-template-areas:
    "q q q r r s s"
    "q q q t t u u";
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}
#forecast-data {
  background-color: rgba(255, 255, 255, 0.3);
  grid-area: c;
  border-radius: 5px;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 15%;
  align-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.mapouter {
  grid-area: d;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
}
#current-data > div:nth-child(1) {
  grid-area: q;
  display: grid;
  grid-template-areas:
    "v"
    "v"
    "v"
    "w";
}
#current-data > div:nth-child(1) ~ * {
  display: flex;
  gap: 10px;
  align-items: center;
}
